.header{
    width: 100%;
    height: 210px;
    display: flex;
    box-shadow: 0 1px 5px -1px rgb(51 62 73 / 14%), 0 4px 10px 0 rgb(51 62 73 / 8%)
}

.header__logo{
   margin: auto;
   display: block;
   width: 200px;
   height: 200px;
   cursor: pointer;
}

.body{
    width: 100%;
    display: flex;
    margin-top: 8px;
    padding: 16px;
}

.body__body{
    margin: auto;
    max-width: 500px;
    padding: 24px;
    box-shadow: 0 2px 5px 0 rgb(51 62 73 / 10%);
}

.body_header{
    margin-bottom: 40px;
}

.header__title{
    font-size: 22px;
    font-weight: 300;
    text-align: center;
   
}

.btn{
    margin-top: 12px;
    width: 100%;
}

.forgot__password{
    text-align: right;
    margin-top :12px;
    text-decoration: underline;
    font-size: 14px;
    cursor: pointer;

}

.footer{
    width: 100%;
    margin: 20px 0 24px 0;
}
.text__footer{
    text-align: center;
    font-size: 16px;
    font-weight: 300
}
.primary{
    color: #1890ff;
    font-weight: 400;
    cursor: pointer;
}
.footer__btn{
    margin-left: 0;
}
@media screen and (min-width : 576px) {
    .footer__btn{
        margin-left: 150px;
    }
}

.success{
    background-color: chartreuse;
    color:  #fff;
}
.erorr{
    background-color: chartreuse;
    color:  #fff;
}

.ant-notification-notice .ant-notification-notice-error .ant-notification-notice-closable{
    background: red !important;
    border-radius: 5px;
}