/* .ant-layout-content{
    padding: 0 50px;
}

@media screen and (max-width : 576px) {
   
    .ant-layout-content{
        padding: 0;
    }
} */

.vote{
    max-width: 1200px;
    width: 100%;
    margin: 40px auto 0 auto;
    background-color: #fff;
    padding: 16px;
    border-radius: 3px;
  
}
  
.vote__header{
 
    display: flex;
    justify-content: space-between;
}
.text__header{
    font-size: 20px;
}

.vote__overview{
    margin-top: 20px;
    background-color: #fffbf8;
    border : 1px solid #f9ede5;
    padding : 16px;
    display: flex;
    justify-content: space-between;

}
.vote__star{
    color : #ee4d2d;
    font-size: 20px;
    stroke: #ee4d2d;
}
.text__over{
    font-size: 28px;
}

.overview__star{
    margin-top: 4px;
}

.ml-4{
    margin-left: 4px;
}

.vote__filter{
    flex: 1;
    margin-left: 16px;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.product__filter{
    margin : 0 20px 0 0;
    min-width: 86px;
    padding : 0 10px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border : 1px solid #000;
    border: 1px solid rgba(0,0,0,.09);
    cursor: pointer;
    border-radius: 3px;

}

.product__filter.active{
    border-color: #ee4d2d;
    color : #ee4d2d;
}

.vote__list{
    margin-top: 12px;
    padding : 0 16px 16px 8px;
    border-bottom: 1px solid rgba(0,0,0,.09);
    font-size: 16px;
}

.vote__name{
    
    font-weight: 600;
}
.vote__numberstar{
    margin-top: 8px;
    color : #ee4d2d;

    stroke: #ee4d2d;
}

.vote__content{
    margin-top: 8px;
}
.detail{
    margin-top: 8px;
    font-size: 14px;
}
.primary__color{
    cursor: pointer;
    color :#1890ff
}
@media screen and (max-width : 860px) {
    .product__filter{
        margin: 10px 20px 0 0;
    }
}


@media screen and (max-width : 576px) {
    .product__filter{
        margin: 10px 10px 0 0;
    }
    .text__header{
        font-size: 16px;
    }
    .vote__star{
        font-size: 16px;
    }
    .text__over{
        font-size: 24px;
    }
    .vote__list{
        font-size: 12px;
    }
}

